@model FooterModel
@using Nop.Core
@using Nop.Core.Domain.Tax
@using Nop.Core.Infrastructure
@using Nop.Web.Models.Common;

@{
    var checkBlogUrl = Request.Url.Host;
}
<div class="footer">
    <div class="footer-upper">
        <div class="footer-block information">
            <div class="title">
                <h2>@T("Footer.CustomerService")</h2>
            </div>
            <ul class="list">
                @if (Model.SitemapEnabled)
                {
                    <li><a href="@Url.RouteUrl("Sitemap")">@T("Sitemap")</a></li>
                }
                @foreach (var topic in Model.Topics.Where(x => x.IncludeInFooterColumn1).ToList())
                {
                    <li><a href="@Url.RouteUrl("Topic", new { SeName = topic.SeName })">@topic.Name</a></li>
                }
                @if (checkBlogUrl.Contains("blog-binghamton"))
                {
                    <li><a href="https://binghamton.sodexomyway.com/contact/feedback">@T("ContactUs")</a></li>
                }
                else
                {
                    <li><a href="@Url.RouteUrl("ContactUs")">@T("ContactUs")</a></li>
                }
            </ul>
        </div>
        <div class="footer-block customer-service">
            <div class="title">
                <h2>@T("Footer.Information")</h2>
            </div>
            <ul class="list">
                @if (!checkBlogUrl.Contains("cpsfacilitiesblog") && !checkBlogUrl.Contains("blog-binghamton"))
                {
                    <li><a href="@Url.RouteUrl("ProductSearch")">@T("Search")</a> </li>
                }
                @if (Model.NewsEnabled)
                {
                    if (checkBlogUrl.Contains("blog-binghamton"))
                    {
                        <li><a href="https://binghamton.sodexomyway.com/explore/news">@T("News")</a></li>
                    }
                    else
                    {
                        <li><a href="@Url.RouteUrl("NewsArchive")">@T("News")</a></li>
                    }
                }
                @if (Model.BlogEnabled)
                {
                    <li><a href="@Url.RouteUrl("Blog")">@T("Blog")</a></li>
                }
                @if (Model.ForumEnabled)
                {
                    <li><a href="@Url.RouteUrl("Boards")">@T("Forum.Forums")</a></li>
                }
                @if (Model.RecentlyViewedProductsEnabled && !checkBlogUrl.Contains("cpsfacilitiesblog") && !checkBlogUrl.Contains("blog-binghamton"))
                {
                    <li><a href="@Url.RouteUrl("RecentlyViewedProducts")">@T("Products.RecentlyViewedProducts")</a></li>
                }
                @if (Model.CompareProductsEnabled && !checkBlogUrl.Contains("cpsfacilitiesblog") && !checkBlogUrl.Contains("blog-binghamton"))
                {
                    <li><a href="@Url.RouteUrl("CompareProducts")">@T("Products.Compare.List")</a></li>
                }
                @if (Model.NewProductsEnabled && !checkBlogUrl.Contains("cpsfacilitiesblog") && !checkBlogUrl.Contains("blog-binghamton"))
                {
                    <li><a href="@Url.RouteUrl("NewProducts")">@T("Products.NewProducts")</a></li>
                }
                @foreach (var topic in Model.Topics.Where(x => x.IncludeInFooterColumn2).ToList())
                {
                    <li><a href="@Url.RouteUrl("Topic", new { SeName = topic.SeName })">@topic.Name</a></li>
                }
            </ul>
        </div>
        @if (Model.IsLoggedIn && !checkBlogUrl.Contains("cpsfacilitiesblog") && !checkBlogUrl.Contains("blog-binghamton"))
        {
            <div class="footer-block my-account">
                <div class="title">
                    <h2>@T("Footer.MyAccount")</h2>
                </div>
                <ul class="list">
                    <li><a href="@Url.RouteUrl("CustomerInfo")">@T("Account.MyAccount")</a></li>
                    <li><a href="@Url.RouteUrl("CustomerOrders")">@T("Account.CustomerOrders")</a></li>
                    <li><a href="@Url.RouteUrl("CustomerAddresses")">@T("Account.CustomerAddresses")</a></li>
                    @if (Model.ShoppingCartEnabled)
                    {
                        <li><a href="@Url.RouteUrl("ShoppingCart")">@T("ShoppingCart")</a></li>
                    }
                    @if (Model.WishlistEnabled)
                    {
                        <li><a href="@Url.RouteUrl("Wishlist")">@T("Wishlist")</a></li>
                    }
                    @if (Model.AllowCustomersToApplyForVendorAccount)
                    {
                        <li><a href="@Url.RouteUrl("ApplyVendorAccount")">@T("Vendors.ApplyAccount")</a></li>
                    }
                    @foreach (var topic in Model.Topics.Where(x => x.IncludeInFooterColumn3).ToList())
                    {
                        <li><a href="@Url.RouteUrl("Topic", new { SeName = topic.SeName })">@topic.Name</a></li>
                    }
                </ul>
            </div>
        }
        <div class="footer-block follow-us">
            <div class="social">
                <div class="title">
                    <h2>@T("Footer.FollowUs")</h2>
                </div>
                @Html.Action("Social", "Common")
            </div>
            @Html.Action("NewsletterBox", "Newsletter")
        </div>
    </div>
    <div class="footer-lower">
        <div class="footer-info">
            <span class="footer-disclaimer">@T("Content.CopyrightNotice", DateTime.Now.Year, Model.StoreName)</span>
            @if (Model.DisplayTaxShippingInfoFooter)
            {
                var inclTax = EngineContext.Current.Resolve<IWorkContext>().TaxDisplayType == TaxDisplayType.IncludingTax;
                <span class="footer-tax-shipping">
                    @T(inclTax ? "Footer.TaxShipping.InclTax" : "Footer.TaxShipping.ExclTax", Url.RouteUrl("Topic", new { SeName = Html.GetTopicSeName("shippinginfo") }))
                </span>
            }
        </div>
        @if (!Model.HidePoweredByNopCommerce)
        {
            <div class="footer-powered-by">
                @*Would you like to remove the "Powered by nopCommerce" link in the bottom of the footer?
                    Please find more info at http://www.nopcommerce.com/copyrightremoval.aspx*@
                Powered by <a href="http://www.nopcommerce.com/">nopCommerce</a>
            </div>
        }
        @Html.Action("StoreThemeSelector", "Common")
    </div>
    @Html.Widget("footer")
</div>
<script type="text/javascript">
    $(document).ready(function () {
        resize();
        $(window).resize(resize);

        var e = window, a = 'inner';
        if (!('innerWidth' in window)) {
            a = 'client';
            e = document.documentElement || document.body;
        }
        var result = { width: e[a + 'Width'], height: e[a + 'Height'] };

        $('.footer-block .title').click(function () {
            var e = window, a = 'inner';
            if (!('innerWidth' in window)) {
                a = 'client';
                e = document.documentElement || document.body;
            }
            var result = { width: e[a + 'Width'], height: e[a + 'Height'] };
            if (result.width < 769) {
                $(this).siblings('.list').slideToggle('slow');
                if ($(this).attr('aria-expanded') === 'true') {
                    $(this).attr('aria-expanded', false);
                }
                else {
                    $(this).attr('aria-expanded', true);
                }
            }
        });

        $('.footer-block .title').on('keydown', function (e) {
            if (e.key == "Enter" || e.key === 'Escape' || e.key === 'Esc') {
                footerBlockClick(e, this);
            }

        });

        $('.footer-block .list').on('keydown', function (e) {

            if (e.key === 'Escape' || e.key === 'Esc') {
                var e = window, a = 'inner';
                if (!('innerWidth' in window)) {
                    a = 'client';
                    e = document.documentElement || document.body;
                }
                var result = { width: e[a + 'Width'], height: e[a + 'Height'] };
                if (result.width < 769) {
                    $(this).slideToggle('slow');
                    $(this).parent().find('.title').attr('aria-expanded', false);
                    $(this).parent().find('.title').focus();
                }

            }
        });

        function footerBlockClick(e, controller) {
            var e = window, a = 'inner';
            if (!('innerWidth' in window)) {
                a = 'client';
                e = document.documentElement || document.body;
            }
            var result = { width: e[a + 'Width'], height: e[a + 'Height'] };
            if (result.width < 769) {
                $(controller).siblings('.list').slideToggle('slow');
                if ($(controller).attr('aria-expanded') === 'true') {
                    $(controller).attr('aria-expanded', false);
                }
                else {
                    $(controller).attr('aria-expanded', true);
                }
            }
        }

        $('.block-recently-viewed-products .title').click(function () {
            var e = window, a = 'inner';
            if (!('innerWidth' in window)) {
                a = 'client';
                e = document.documentElement || document.body;
            }
            var result = { width: e[a + 'Width'], height: e[a + 'Height'] };
            if (result.width < 1001) {
                $(this).siblings('.listbox').slideToggle('slow');
                if ($(this).attr('aria-expanded') === 'true') {
                    $(this).attr('aria-expanded', false);
                }
                else {
                    $(this).attr('aria-expanded', true);
                }
            }
        });

        $('.block-recently-viewed-products .title').on('keydown', function (e) {
            if (e.key == "Enter" || e.key === 'Escape' || e.key === 'Esc') {
                $('.block-recently-viewed-products .title').click();
            }

        });

        $('.listbox .list').on('keydown', function (e) {
            if (e.key === 'Escape' || e.key === 'Esc') {
                $('.block-recently-viewed-products .title').click();
                $('.block-recently-viewed-products .title').focus();
            }
        });

    });

    function resize() {
        var e = window, a = 'inner';
        if (!('innerWidth' in window)) {
            a = 'client';
            e = document.documentElement || document.body;
        }
        var result = { width: e[a + 'Width'], height: e[a + 'Height'] };

        if (result.width < 769) {
            $('.footer-block .title').attr('role', 'button');
            $('.footer-block .title').attr('aria-expanded', false);
            $('.footer-block .title').attr('tabindex', '0');
        }
        else {
            $('.footer-block .title').removeAttr('role');
            $('.footer-block .title').removeAttr('aria-expanded');
            $('.footer-block .title').removeAttr('tabindex');
        }

        if (result.width < 1001) {
            if ($('.block-recently-viewed-products').length > 0) {
                $('.block-recently-viewed-products .title').attr('role', 'button');
                $('.block-recently-viewed-products .title').attr('tabindex', '0');
                $('.block-recently-viewed-products .title').attr('aria-expanded', false);

            }
        }
        else {
            if ($('.block-recently-viewed-products').length > 0) {
                $('.block-recently-viewed-products .title').removeAttr('role');
                $('.block-recently-viewed-products .title').removeAttr('tabindex');
                $('.block-recently-viewed-products .title').removeAttr('aria-expanded');

            }

        }
    }
</script>